// 제목명
.heading1 {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

// 메뉴명
.heading2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

// 페이지명
.heading3 {
  font-size: 20px;
  line-height: 24px;
}

// 강조텍스트
.body1 {
  font-size: 18px;
  line-height: 24px;
}

// 테이블 제목명
.body2 {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}

// 사이드메뉴명
.body3 {
  font-size: 16px;
  line-height: 16px;
}

// 게시글
.body4 {
  font-size: 14px;
  line-height: 16px;
}

// 버튼명
.button1 {
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
}

// 버튼명
.button2 {
  font-size: 13px;
  line-height: 16px;
}